.example1 {
    background-color: aqua;
}

.example2 {
    background-color: rgb(226, 4, 45);
}

.example3 {
    background-color: rgb(27, 37, 104);
}

.example4 {
    background-color: rgb(79, 84, 88);
}

.example5 {
    background-color: rgb(21, 20, 20);
}

.example6 {
    background-color: rgb(169, 161, 14);
}