{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only Bootsrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper  Bootsrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <!-- base.css local file -->
    <link rel="stylesheet" href="{% static 'catalog/css/base.css' %}">
    <title>Rose-Life</title>
</head>

<body>

    <div class="container-fluid text-center foot_base">
        <div class="row row-cols-lg-0">
            <div class="col-2 col-sm-2">
                <img src="{% static 'catalog/img/logo-600.png' %}" style="margin-bottom: 10px;" class="foot-logo" alt="">
            </div>
            <div class="col-8 col-sm-8 d-flex align-items-center justify-content-center">
                <a href="#" class="foot_label">Rose Life</a>
            </div>
            <div class="col-2 col-sm-2 d-flex align-items-center justify-content-center">
                <div class="row">
                    <div class="col">
                        <a href="#" class="btn btn-primary">login</a>
                    </div>
                    <div class="col">
                        <a href="#" class="btn btn-primary">register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <nav class="navbar navbar-expand-lg nav_back">
        <div class="container-md">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link nav_text" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_text" aria-current="page" href="#">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_text" href="#">О Нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav_text" href="#">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-sm">
        <div class=" row base_col1">
            <a href="#" class="base_text">Home /</a>
        </div>
        <div class=" row">
            <div class="col-3">
                <div class="row base_col2_1">
                    <p class="nav_text d-flex align-items-center">Главное меню</p>
                </div>
                <div class="row base_col2_2 ">
                    подколонка2
                </div>
                <div class="row base_col2_1">
                    <p class="nav_text">Советы</p>
                </div>
                <div class="row base_col2_2 ">
                    подколонка2
                </div>
            </div>
            <div class="col-9 example2">
                колонка3
                {% block content %}

                {% endblock %}
            </div>
        </div>
        <div class="row base_ground base_ground_text">
            <p class="d-flex justify-content-center">2022 Rose Life, 61231 Бад-Наухайм - Штайнфурт</p>
            <div class="col text-start">
                <div class="row align-items-center">
                    <div class="col-5">

                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-4">
                                <p>Часы работы:</p>
                                <p>Телефон:</p>
                            </div>
                            <div class="col-4">
                                <p>8:00 - 20:00</p>
                                <p>+373 69546837</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col text-start">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-1">

                            </div>
                            <div class="col-3">
                                <p>Сайт:</p>
                                <p>Email::</p>
                            </div>
                            <div class="col-4">
                                <p>rose-site.com</p>
                                <p>a.bojic@gmail.com</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>