{% extends 'catalog/base.html' %}
{% load static %}

{% block file_static %}
<link rel="stylesheet" href="{% static 'catalog/css/home.css' %}">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-8">
        <div class="row home_col1">
            <p class="home_col1_text d-flex justify-content-center">Частный розарий</p>
        </div>
        <div class="row example2">
            <div class="col example1">
                fsdf
            </div>
            <div class="col example3">
                fgbhf
            </div>
        </div>
        <div class="row example3">
            fsfs
        </div>
        <div class="row example4">
            fsfs
        </div>
    </div>
    <div class="col-4">
        <div class="row-cols-2 base_col2_1">
            <p class="nav_text text-center">Топ розы</p>
        </div>
        <div class="row-cols-2 base_col2_2 ">
            подколонка2
        </div>
        <div class="row-cols-2 base_col2_1">
            <p class="nav_text text-center">Рекомендации</p>
        </div>
        <div class="row-cols-2 base_col2_2 ">
            подколонка2
        </div>
    </div>
</div>


{% endblock %}